/* ============================================================================
   Common styles
*/

html {
  font-family: "Roboto", sans-serif;
}

.wrap {
  max-width: 1170px;
  min-height: 100vh;
  background-color: $main-bg-color;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
}

.main {
  width: 100%;
}

// .btn {
//   width: fit-content;
// }

.btn {
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  background-color: $btn-color;
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  color: white;
  text-decoration: none;
}

.btn:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.btn:active {
  box-shadow: none;
}
