/* ============================================================================
   Footer styles
*/

.footer {
  background-color: $footer-bg-color;
  margin-top: 100px;
  align-self: flex-end;
  height: 100px;
  width: 100%;
}
