/* ============================================================================
   Header styles
*/

.header {
  background-color: $header-bg-colog;
  padding: 30px;
  width: 100%;
  height: fit-content;
}
