$main-bg-color: #c0dbd9;
$btn-color: #a5c7f9;
$header-bg-colog: #7faff6;
$block-1-bg-color: #b3f95a;
$block-1__item-bg-color: #8ad191;
$block-2-bg-color: #88b5bf;
$block-2__item-bg-color: #0d89b0;
$footer-bg-color: #7faff6;
